@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  background-color: #F7F7F7;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

h1, h2, h3, h4, .nav, a {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  height: 10vh;
}

.navitem {
  align-self: baseline;
  display: flex;
  justify-content: center;
}

.navitem a {
  text-decoration: none;
  color: black;
  border-bottom: 1px solid transparent;
  transition: all 200ms ease-in;
}

.navitem a:hover {
  color: rgb(0, 5, 53);
  border-bottom: 1px solid rgb(0, 5, 53);
  transition: all 300ms ease-in;
}

.startitem {
  display: flex;
  flex-direction: row;
}

.startitem > div {
  margin-right: 20px;
}

.middleitem {
  width: 60%;
}

.enditem {
  width: 20%;
}

@media screen and (max-width: 600px) {
  .navitem {
    display: none;
  }
  .middleitem {
    display: flex;
    text-align: center;
  }
}
.jumbo {
  margin: 10px;
  border-radius: 10px;
  color: white;
  height: 85vh;
  background-image: linear-gradient(to bottom, rgba(46, 51, 65, 0.4), rgba(46, 51, 65, 0.5)), url(../assets/images/laptop.jpg);
  background-position: 60%;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbo > article {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 85vh;
}

.jumbo h2 {
  font-size: 28pt;
}

.jumbo h3 {
  font-size: 24pt;
}

.jumboleft {
  padding-left: 10%;
}

.jumboright {
  align-self: flex-end;
  padding-right: 15%;
}

@media screen and (max-width: 600px) {
  .jumboleft {
    align-self: center;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }
  .jumboright {
    align-self: center;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }
  .jumbo, .cta > div {
    display: flex;
    justify-content: center;
  }
  .jumbo h2 {
    font-size: 28pt;
  }
  .jumbo h3 {
    font-size: 24pt;
  }
}
.cta > div > a {
  padding: 5px;
  height: 60px;
  background: linear-gradient(135deg, rgb(32, 109, 187) 0%, rgb(36, 53, 205) 100%);
  color: white;
  min-width: 200px;
  max-width: -moz-fit-content;
  max-width: fit-content;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 16pt;
  transition: all 300ms ease-in-out;
}

.cta > div:hover > a {
  background: linear-gradient(135deg, rgb(41, 99, 158) 0%, rgb(20, 41, 204) 100%);
  transition: all 350ms ease-in-out;
}

.smallcta > div > a {
  min-width: 100px;
}

.onboarding {
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16pt;
  margin-bottom: 50px;
}

.onboarding > div {
  width: 55%;
  text-align: center;
}

.onboarding > .cta > div {
  display: flex;
  justify-content: center;
}

.onetime, .contract, .training {
  margin: 10px;
  border-radius: 10px;
  background-color: #C6C9CE;
  padding: 30px;
}

.contract h3 {
  font-size: 20pt;
  text-align: center;
}

.contract a h3 {
  font-size: 16pt;
}

.tierbox {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.tier {
  margin: 10px;
  width: 28%;
  border-radius: 10px;
  background: linear-gradient(45deg, rgb(63, 76, 107) 0%, rgb(63, 76, 107) 100%);
  color: white;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.list {
  float: left;
}

.tier ul {
  list-style: square;
}

@media screen and (max-width: 1280px) {
  .tier {
    width: 30%;
    padding: 10px;
  }
}
@media screen and (max-width: 1080px) {
  .tierbox {
    flex-direction: column;
    align-items: center;
  }
  .tierbox > div {
    width: 55%;
  }
}
@media screen and (max-width: 880px) {
  .tierbox {
    flex-direction: column;
    align-items: center;
  }
  .tierbox > div {
    width: 75%;
  }
}
@media screen and (max-width: 600px) {
  .tierbox {
    flex-direction: column;
    align-items: center;
  }
  .tierbox > div {
    width: 85%;
  }
}
@media screen and (max-width: 880px) {
  .onboarding > div {
    width: 75%;
  }
  .aboutcompany > div {
    width: 75%;
  }
  .onboarding h2, .aboutcompany h2 {
    font-size: 26pt;
    margin: 15px;
  }
}
@media screen and (max-width: 600px) {
  .onboarding > div {
    width: 95%;
  }
  .aboutcompany > div {
    width: 95%;
  }
}
.module {
  margin: 20px;
}

.modules {
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: 100%;
  align-items: center;
}

.modules > div {
  display: flex;
  flex-direction: row;
  width: 95%;
  justify-content: space-between;
}

.modules > div > div {
  padding: 7px;
  margin: 3px;
  width: 18%;
  height: 260px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(45deg, rgb(63, 76, 107) 0%, rgb(63, 76, 107) 100%);
  color: white;
  border-radius: 10px;
}

.modules > div > div > div:nth-child(2) {
  display: none;
}

@media screen and (max-width: 880px) {
  .modules > div {
    flex-direction: column;
    width: 85%;
    align-items: center;
  }
  .modules > div > div {
    width: 60%;
  }
}
.training {
  background: linear-gradient(45deg, rgb(63, 76, 107) 0%, rgb(63, 76, 107) 100%);
  color: white;
}

.aboutcompany {
  margin: 10px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  font-size: 16pt;
}

.aboutcompany > div {
  width: 55%;
  text-align: center;
}

.cv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  padding: 20px;
  background-color: #C6C9CE;
}

.cv > div {
  width: 50%;
  text-align: center;
  min-height: 140px;
}

@media screen and (max-width: 880px) {
  .cv {
    flex-direction: column;
  }
  .cv > div {
    width: 70%;
  }
}
@media screen and (max-width: 600px) {
  .cv > div {
    width: 90%;
  }
}
.e {
  height: 400px;
  width: 400px;
}

.r {
  height: 400px;
  width: 400px;
}

.referencwork {
  margin: 10px;
}

.footer {
  margin: 0;
  background: linear-gradient(45deg, rgb(63, 76, 107) 0%, rgb(63, 76, 107) 100%);
  color: white;
  padding: 20px;
}/*# sourceMappingURL=main.css.map */