@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

$font-color-primary: black;
$font-color-primary-hover: rgb(0, 5, 53);
$font-color-secondary: white;
$bg-color-primary: #F7F7F7;
$bg-color-secondary: #C6C9CE;
$bg-color-dark: #444B53;
$cta-color-primary: #2435CD;
$desktop-standard-width: 55%;
$tablet-standard-width: 75%;
$mobile-standard-width: 95%;

$desktop-profile-size: 400px;
$tablet-profile-size: 300px;
$mobile-profile-size: 200px;

//GENERAL

html {
    scroll-behavior: smooth;
}

body {
    background-color: $bg-color-primary;
    font-family: "Merriweather", serif;
    margin: 0;
}

h1, h2, h3, h4, .nav {
    
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

section {
    
}

article {
    
}

//NAV

.nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    height: 10vh;
}

.navitem {
    align-self: baseline;
    display: flex;
    justify-content: center;
}

.navitem a {
    text-decoration: none;
    color: $font-color-primary;
    border-bottom: 1px solid transparent;
    transition: all 200ms ease-in;
}

.navitem a:hover {
    color: $font-color-primary-hover;
    border-bottom: 1px solid $font-color-primary-hover;
    transition: all 300ms ease-in;
}

.startitem {
    display: flex;
    flex-direction: row;
    
}

.startitem > div {
    margin-right: 20px;
}

.middleitem {
    width: 60%;
}

.enditem {
    width: 20%;
}


//NAV MOBILE

@media screen and (max-width: 600px){
    .navitem {
        display: none;
    }
    .middleitem {
        display: flex;
        text-align: center;
    }
}


//JUMBO 


.jumbo {
    margin: 10px;
    border-radius: 10px;
    color: $font-color-secondary;
    height: 90vh;
    background-image: linear-gradient(to bottom, rgba(46, 51, 65, 0.4), rgba(46, 51, 65, 0.5)), url(../assets/images/laptop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.jumbo > article {
    padding: 20px;

}

//CTA 

.cta > div > a {
    margin: 20px;
    height: 60px;
    background-color: $cta-color-primary;
    color: $font-color-secondary;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    text-decoration: none;
    letter-spacing: 1px;
}




//OFFERS

.onboarding {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16pt;
    margin-bottom: 50px;
}

.onboarding > div {
    width: $desktop-standard-width;
    text-align: center;
}

.onboarding > .cta > div {
    display: flex;
    justify-content: center;
}

.onetime, .contract {
    margin: 10px;
    border-radius: 10px;
    background-color: $bg-color-secondary;
    padding: 10px;
}

//TIERS

.tierbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tier {
    margin: 10px;
    width: 25%;
    border-radius: 10px;
    background-color: $bg-color-dark;
    color: $font-color-secondary;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

.tier ul {
    list-style: square;
}

//TIERS MOBILE

@media screen and (max-width: 880px){
    .tierbox {
        flex-direction: column;
        align-items: center;
    }
    .tierbox > div {
        width: 55%;
    }
}

@media screen and (max-width: 600px){
    .tierbox {
        flex-direction: column;
        align-items: center;
    }
    .tierbox > div {
        width: 85%;
    }
}

//ABOUT

.aboutcompany {
    margin: 10px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    font-size: 16pt;
}

.aboutcompany > div {
    width: $desktop-standard-width;
    text-align: center;
    
}

//OFFERS MOBILE

@media screen and (max-width: 880px){
    
    .onboarding > div {
        width: $tablet-standard-width;
    }

    .aboutcompany > div {
        width: $tablet-standard-width;
    }
    .onboarding h2, .aboutcompany h2 {
        font-size: 26pt;
        margin: 15px;
    }
}

@media screen and (max-width: 600px){
    
    .onboarding > div {
        width: $mobile-standard-width;
    }

    .aboutcompany > div {
        width: $mobile-standard-width;
    }
}

//CV

.cv { 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    padding: 20px;
    background-color: $bg-color-secondary;
}

.cv > div {
    width: 50%;
    text-align: center;
    min-height: 140px;
}

//CV MOBILE


@media screen and (max-width: 880px){
    
    .cv { 
        flex-direction: column;
    }
    .cv > div {
        width: 70%;
    }
}

@media screen and (max-width: 600px){
    
    .cv > div { 
        width: 90%;
    }
}


.e {
    height: $desktop-profile-size;
    width: $desktop-profile-size;
}

.r {
    height: $desktop-profile-size;
    width: $desktop-profile-size;
}

.referencwork {
    margin: 10px;
}

.footer {
    margin: 0;
    background-color: $bg-color-dark;
    color: $font-color-secondary;
    padding: 20px;
}
